{% extends "admin/base.html" %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'index' %}"> Home</a>
</div>
{% endblock %}



      {% block branding %}
      <h1 id="site-name">{{ site_header|default:_('Online Attendence System') }}</h1>
      {% endblock %}
      {% block usertools %}
      <div id="user-tools">


        {% block welcome-msg %}
            <strong>WELCOME,{{user.first_name}}/{{user.username}}</strong>
        {% endblock %}
        {% block userlinks %}
         <a href="{% url 'enrollc' %}">Enroll new course</a>/<a href="{% url 'logout_view' %}">Log out</a>

        {% endblock %}
      </div>
      {% endblock %}


{% block sidebar %}


<form id="myform" action="{% url 'enrollc'  %}" method="post">
  {% csrf_token %}
  Course code: <input type="text" name="code" >
</form>
<input form="myform" type="submit" value="Enroll">


{% endblock %}
